/* TODO: Here we can put all the global variables for the project and 
things components that are in common for all the pages.
For example, the main and secondary colors that we are going to use
through the entire development, the navbar and the footer, etc...*/
body {
    background-color: var(--color-body-general);
}

.navbar {
    background-color: var(--color-primary);

    border-bottom: 3px solid rgba(4, 32, 144, 0.737);
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    margin-bottom: 25px;
}

:root {
    --color-primary: rgb(0, 60, 255);
    --color-primary-light: #0073ff;
    --color-primary-dark: #022c8f;
    --color-secondary: #6c757d;
    --color-secondary-light: #9ea3a8;
    --color-secondary-dark: #343a40;
    --color-body-general: rgba(20, 66, 156, 0.133);
    --font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: var(--color-primary-dark);
    border-top: 2px solid black;
    /* position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center; */
}

/* FOOTER */
.footer-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.423);
    object-fit: cover;
}

.containerFooter {
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 0;
    background-color: var(--color-primary-light);
    border-color: white;
    border: 1px solid black;
    margin-top: -50px;
    border-radius: 30px;
    align-self: center;
    width: 300px;
    box-shadow: inset 0px -5px 10px rgba(0, 247, 255, 0.5);
}

@media (min-width: 768px) {
    .containerFooter {
        width: 500px;
    }
}

.iconFooter {
    color: white;
    font-size: 30px;
    opacity: 0.8;
}

.iconFooter:hover {
    animation: hoveredIcon 0.1s ease-in-out forwards;

}

@keyframes hoveredIcon {

    100% {
        font-size: 35px;
        margin-top: -5px;
        opacity: 1;
    }
}

.textFooter {
    font-size: 15px;
    user-select: none;
    font-weight: bold;
    font-family: var(--font-family);
}

.iconAnchor {
    max-width: fit-content;
    margin: auto;
}

@media (min-width: 768px) {
    .textFooter {
        font-size: 18px;
    }
}