.home-container {
    border: 1px solid #cccccc;
    border-radius: 2px;
    background-color: rgba(17, 76, 154, 0.109);

}

.home-container-top {
    border-radius: 5px;
    background-color: rgba(20, 70, 160, 0);

}

.home-post {
    /* padding: 20px; */
    border-bottom: 1px solid #cccccc;
}

.container-buttons-home {
    justify-content: space-between;
}