.icon-search-navbar {
    color: white;
    background-color: var(--color-primary-light);
    border-radius: 30%;
    border: 1px solid rgb(185, 196, 200);
    padding-left: 15px;
    padding-right: 15px;
}

.icon-search-navbar:hover {
    background-color: var(--color-primary-dark);
    color: white;
    border: 2px solid rgb(185, 196, 200);

}

.input-search-navbar {
    border: 1px solid #cccccc;
    background-color: rgba(255, 255, 255, 0.9);
}

.input-search-navbar:focus {
    background-color: white;
    border: 1px solid white;
    animation: all 0.15s ease-in-out forwards;
}

.navbar-logo {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    object-fit: cover;
    margin: 2px auto;
    /* transform: scale(1.5); */
}



@keyframes all {
    100% {
        min-width: 230px;
    }
}